<html>
    <body>
        <h2>Welcome {{userName}}! Now you are onboard for chatting with other devs. ENJOY!</h2>
        <p>Please verify your email address by <a href={{verificationLink}}>clicking here</a> before start chatting!</p>
    </body>
</html>